<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!--    axios-->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>

</head>
<body>
<!--    建立一个与vue绑定的div-->
<div id="app">
    <button v-on:click="changeShow">切换v-show</button>
    <button v-on:click="fetchJoke">获取一个随机笑话</button>
    <button v-on:click="ajaxJoke">用ajax获取</button>
    <input type="text" v-model="inputStr" v-on:keyup.enter="add">
    <p>这里放输入的话：{{inputStr}}</p>
    <h1 v-show="show_title">{{title}}</h1>
    <p v-text="'这里放axios笑话:'+joke"></p>
    <p v-text="'这里放ajax笑话:'+joke2"></p>
    <ul>
        <li v-for="item in list" value="item">{{item}}</li>
    </ul>
</div>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            show_title: true,
            title: 'hello',
            list: ['abc', 'efg', 'hjk'],
            inputStr: "请输入，按回车添加",
            joke: "这里放笑话",
            joke2: "这里放笑话"
        },
        mounted() {
            //五秒更新一次笑话
            this.ajaxJoke()
            // setInterval(this.ajaxJoke,5000)

        },

        methods: {
            //切换标题是否显示
            changeShow: function () {
                this.show_title = !this.show_title;
            },
            //添加到列表中
            add: function () {
                //已经绑定了，直接读取inputStr
                this.list.push(this.inputStr)
            },
            // 获取随机笑话
            /*
            请求地址：https://autumnfish.cn/api/joke
            请求方法：get
            请求参数：无
            响应内容：随机笑话*/
            fetchJoke: function () {
                let that = this
                axios.get('https://autumnfish.cn/api/joke')
                    .then(function (response) {
                            // console.log(response)
                            that.joke = response.data
                        },
                        function (err) {
                            console.log(err)
                        }
                    )
            },
            ajaxJoke: function () {
                // ajax与vue不冲突，放在这里应该是没问题的
                // vue主要是html内部的渲染？
                let that = this
                $.ajax({
                    url: 'https://autumnfish.cn/api/joke',
                    success: function (data) {
                        console.log(data)
                        that.joke2 = data
                    },
                    error: function (err) {
                        console.log(err)
                    }
                })
            },

        },
    })
</script>
</body>
</html>